<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
    <script src="{% static 'js/modal.js' %}"></script>
  </head>
  <body>
    <h1>문서 작성</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="hidden" id="doc-id" name="Doc_ID" />
      <input type="hidden" id="doc-id" name="Doc_Check" value="1" />

      <input
        type="hidden"
        id="doc-dept"
        name="Doc_Dept"
        value="{{ employee.Emp_Dept.Dept_ID }}"
      />

      <label for="document-title">제목</label><br />
      <input type="text" id="document-title" name="Doc_Title" /><br />

      <label for="position">문서유형</label><br />
      <select id="doc_type" name="Doc_Type">
        <option value="1">품의서</option>
        <option value="2">지출결의서</option>
        <option value="3">세금계산서</option>
        <option value="4">전표</option>
        <option value="5">기안서</option>
        <option value="6">제안서</option>
        <option value="7">보고서</option></select
      ><br />

      <label for="author-name">작성자 이름</label><br />
      <input
        type="text"
        id="author-name"
        name="Doc_Sender"
        value="{{ username }} {{ Rank }}"
        readonly
      /><br />

      <input
        type="hidden"
        id="author-id"
        name="Doc_Sender"
        value="{{ employee.pk }}"
      /><br />

      <label for="receiver-id">수신자 선택</label><br />
      <select id="receiver-id" name="Doc_Receiver">
        {% for receiver in receiver_Rank %} {% if receiver.pk != employee.pk %}
        <option value="{{ receiver.pk }}">
          {{ receiver.Emp_Name }} {{ receiver.Rank }}
        </option>
        {% endif %} {% endfor %}</select
      ><br />

      <input type="hidden" id="doc-state" name="Doc_State" value="2" />

      <label for="document-content">문서 내용</label><br />
      <textarea id="document-content" name="Doc_Content"></textarea><br />
      {% csrf_token %}
      <input type="file" name="document" />
      <input type="submit" value="Upload" id="upload-button"/>
    </form>
    <script>
      document.getElementById('upload-button').addEventListener('click', function(event) {
        event.preventDefault();
        event.target.form.submit();
        alert('업로드 완료');
      });
    </script>
  </body>
</html>