{% extends 'base.html' %}{% load static %}{% block content %}
<main>
  <section class="signup">
    <h2>회원 가입</h2>
    <form method="post" class="">
      {% csrf_token %} {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %} {% if field.errors %}
        <div>
          <strong class="alert-box"
            >{{ field.label }} {{ field.errors }}</strong
          >
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endif %} {% for field in form %}
      <div class="form-group">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}
      <button type="submit">회원 가입</button>
    </form>
  </section>

  <p>이미 계정을 가지고 있습니까? <a href="{% url 'login' %}">로그인</a></p>
</main>
{% endblock %}
